@charset "UTF-8";
*{
   /* height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-image: linear-gradient(to right,#3F858C, #7AB8BF );
}
p{
    text-align: justify;
}
main{
    box-shadow: 5px 5px 15px rgba(20, 39, 41, 0.444);
    border-radius: 10px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #a67558;
    text-align: center;
    text-shadow: 1px 1px 2px #3e2c2147 ;
}
h2{
    color: #025159;
}